.elementor-4062 .elementor-element.elementor-element-627c78c:not(.elementor-motion-effects-element-type-background), .elementor-4062 .elementor-element.elementor-element-627c78c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-4062 .elementor-element.elementor-element-627c78c, .elementor-4062 .elementor-element.elementor-element-627c78c > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-4062 .elementor-element.elementor-element-627c78c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:30px;margin-bottom:0px;padding:15px 15px 15px 15px;overflow:visible;}.elementor-4062 .elementor-element.elementor-element-627c78c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-4062 .elementor-element.elementor-element-f859d58.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-4062 .elementor-element.elementor-element-f859d58.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-4062 .elementor-element.elementor-element-ff66eae{text-align:left;}.elementor-4062 .elementor-element.elementor-element-ff66eae .elementor-heading-title{color:var( --e-global-color-text );font-family:"Inter";font-size:24px;font-weight:600;line-height:35px;}.elementor-4062 .elementor-element.elementor-element-88f7fb1{text-align:left;}.elementor-4062 .elementor-element.elementor-element-88f7fb1 .elementor-heading-title{color:var( --e-global-color-fb6ac80 );font-family:"Inter";font-size:18px;font-weight:600;text-transform:uppercase;}.elementor-4062 .elementor-element.elementor-element-a8aa0fb{text-align:left;color:var( --e-global-color-secondary );font-family:"Inter";font-size:18px;font-weight:400;line-height:28px;}.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button{font-family:"Inter";font-weight:700;fill:#28303F;color:#28303F;}.elementor-bc-flex-widget .elementor-4062 .elementor-element.elementor-element-4f685bc.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-4062 .elementor-element.elementor-element-4f685bc.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-4062 .elementor-element.elementor-element-766560b{text-align:right;}.elementor-4062 .elementor-element.elementor-element-766560b img{width:90%;}.elementor-4062 .elementor-element.elementor-element-dac2c6d:not(.elementor-motion-effects-element-type-background), .elementor-4062 .elementor-element.elementor-element-dac2c6d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-4062 .elementor-element.elementor-element-dac2c6d, .elementor-4062 .elementor-element.elementor-element-dac2c6d > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-4062 .elementor-element.elementor-element-dac2c6d{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:30px;margin-bottom:0px;padding:15px 15px 15px 15px;overflow:visible;}.elementor-4062 .elementor-element.elementor-element-dac2c6d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-4062 .elementor-element.elementor-element-9e16d30.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-4062 .elementor-element.elementor-element-9e16d30.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-4062 .elementor-element.elementor-element-0c6c049{text-align:left;}.elementor-4062 .elementor-element.elementor-element-0c6c049 img{width:90%;}.elementor-bc-flex-widget .elementor-4062 .elementor-element.elementor-element-dd9fe89.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-4062 .elementor-element.elementor-element-dd9fe89.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-4062 .elementor-element.elementor-element-a3564ce{text-align:left;}.elementor-4062 .elementor-element.elementor-element-a3564ce .elementor-heading-title{color:var( --e-global-color-text );font-family:"Inter";font-size:24px;font-weight:600;line-height:35px;}.elementor-4062 .elementor-element.elementor-element-f7f7211{text-align:left;}.elementor-4062 .elementor-element.elementor-element-f7f7211 .elementor-heading-title{color:var( --e-global-color-fb6ac80 );font-family:"Inter";font-size:18px;font-weight:600;}.elementor-4062 .elementor-element.elementor-element-c576b72{text-align:left;color:var( --e-global-color-secondary );font-family:"Inter";font-size:18px;font-weight:400;line-height:28px;}.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button{font-family:"Inter";font-weight:700;fill:#28303F;color:#28303F;}.elementor-4062 .elementor-element.elementor-element-425e0be:not(.elementor-motion-effects-element-type-background), .elementor-4062 .elementor-element.elementor-element-425e0be > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-4062 .elementor-element.elementor-element-425e0be, .elementor-4062 .elementor-element.elementor-element-425e0be > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-4062 .elementor-element.elementor-element-425e0be{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:30px;margin-bottom:0px;padding:15px 15px 15px 15px;overflow:visible;}.elementor-4062 .elementor-element.elementor-element-425e0be > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-4062 .elementor-element.elementor-element-3d0f043.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-4062 .elementor-element.elementor-element-3d0f043.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-4062 .elementor-element.elementor-element-168f8ad{text-align:left;}.elementor-4062 .elementor-element.elementor-element-168f8ad .elementor-heading-title{color:var( --e-global-color-text );font-family:"Inter";font-size:24px;font-weight:600;line-height:35px;}.elementor-4062 .elementor-element.elementor-element-8dd8014{text-align:left;}.elementor-4062 .elementor-element.elementor-element-8dd8014 .elementor-heading-title{color:var( --e-global-color-fb6ac80 );font-family:"Inter";font-size:18px;font-weight:600;text-transform:uppercase;}.elementor-4062 .elementor-element.elementor-element-111ce31{text-align:left;color:var( --e-global-color-secondary );font-family:"Inter";font-size:18px;font-weight:400;line-height:28px;}.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button{font-family:"Inter";font-weight:700;fill:#28303F;color:#28303F;}.elementor-bc-flex-widget .elementor-4062 .elementor-element.elementor-element-cc945e3.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-4062 .elementor-element.elementor-element-cc945e3.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-4062 .elementor-element.elementor-element-3310447{text-align:right;}.elementor-4062 .elementor-element.elementor-element-3310447 img{width:90%;}.elementor-4062 .elementor-element.elementor-element-dd31ffe:not(.elementor-motion-effects-element-type-background), .elementor-4062 .elementor-element.elementor-element-dd31ffe > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-4062 .elementor-element.elementor-element-dd31ffe, .elementor-4062 .elementor-element.elementor-element-dd31ffe > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-4062 .elementor-element.elementor-element-dd31ffe{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:30px;margin-bottom:0px;padding:15px 15px 15px 15px;overflow:visible;}.elementor-4062 .elementor-element.elementor-element-dd31ffe > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-4062 .elementor-element.elementor-element-16cd6fb.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-4062 .elementor-element.elementor-element-16cd6fb.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-4062 .elementor-element.elementor-element-4f615d4{text-align:left;}.elementor-4062 .elementor-element.elementor-element-4f615d4 img{width:90%;border-style:none;border-radius:15px 15px 15px 15px;}.elementor-bc-flex-widget .elementor-4062 .elementor-element.elementor-element-e48a52a.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-4062 .elementor-element.elementor-element-e48a52a.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-4062 .elementor-element.elementor-element-0a2ec86{text-align:left;}.elementor-4062 .elementor-element.elementor-element-0a2ec86 .elementor-heading-title{color:var( --e-global-color-text );font-family:"Inter";font-size:24px;font-weight:600;line-height:35px;}.elementor-4062 .elementor-element.elementor-element-194c41e{text-align:left;}.elementor-4062 .elementor-element.elementor-element-194c41e .elementor-heading-title{color:var( --e-global-color-fb6ac80 );font-family:"Inter";font-size:18px;font-weight:600;}.elementor-4062 .elementor-element.elementor-element-34d3124{text-align:left;color:var( --e-global-color-secondary );font-family:"Inter";font-size:18px;font-weight:400;line-height:28px;}.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button{font-family:"Inter";font-weight:700;fill:#28303F;color:#28303F;}.elementor-4062 .elementor-element.elementor-element-fb88d58:not(.elementor-motion-effects-element-type-background), .elementor-4062 .elementor-element.elementor-element-fb88d58 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-4062 .elementor-element.elementor-element-fb88d58, .elementor-4062 .elementor-element.elementor-element-fb88d58 > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-4062 .elementor-element.elementor-element-fb88d58{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:30px;margin-bottom:0px;padding:15px 15px 15px 15px;overflow:visible;}.elementor-4062 .elementor-element.elementor-element-fb88d58 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-4062 .elementor-element.elementor-element-ef9a95b.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-4062 .elementor-element.elementor-element-ef9a95b.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-4062 .elementor-element.elementor-element-5e629a9{text-align:left;}.elementor-4062 .elementor-element.elementor-element-5e629a9 .elementor-heading-title{color:var( --e-global-color-text );font-family:"Inter";font-size:24px;font-weight:600;line-height:35px;}.elementor-4062 .elementor-element.elementor-element-8211e86{text-align:left;}.elementor-4062 .elementor-element.elementor-element-8211e86 .elementor-heading-title{color:var( --e-global-color-fb6ac80 );font-family:"Inter";font-size:18px;font-weight:600;}.elementor-4062 .elementor-element.elementor-element-f2b2345{text-align:left;color:var( --e-global-color-secondary );font-family:"Inter";font-size:18px;font-weight:400;line-height:28px;}.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button{font-family:"Inter";font-weight:700;fill:#28303F;color:#28303F;}.elementor-bc-flex-widget .elementor-4062 .elementor-element.elementor-element-0967371.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-4062 .elementor-element.elementor-element-0967371.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-4062 .elementor-element.elementor-element-6798663{text-align:right;}.elementor-4062 .elementor-element.elementor-element-6798663 img{width:90%;}@media(max-width:767px){.elementor-4062 .elementor-element.elementor-element-627c78c{margin-top:15px;margin-bottom:0px;}.elementor-4062 .elementor-element.elementor-element-88f7fb1 .elementor-heading-title{font-size:15px;}.elementor-4062 .elementor-element.elementor-element-a8aa0fb{font-size:16px;line-height:25px;width:100%;max-width:100%;}.elementor-4062 .elementor-element.elementor-element-a8aa0fb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-15dfee6 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-4f685bc > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-766560b{text-align:center;}.elementor-4062 .elementor-element.elementor-element-766560b img{width:100%;}.elementor-4062 .elementor-element.elementor-element-dac2c6d{margin-top:15px;margin-bottom:0px;}.elementor-4062 .elementor-element.elementor-element-9e16d30 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-0c6c049{text-align:center;}.elementor-4062 .elementor-element.elementor-element-0c6c049 img{width:100%;}.elementor-4062 .elementor-element.elementor-element-f7f7211 .elementor-heading-title{font-size:15px;}.elementor-4062 .elementor-element.elementor-element-c576b72{font-size:16px;line-height:25px;width:100%;max-width:100%;}.elementor-4062 .elementor-element.elementor-element-c576b72 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-a71d832 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-425e0be{margin-top:15px;margin-bottom:0px;}.elementor-4062 .elementor-element.elementor-element-8dd8014 .elementor-heading-title{font-size:15px;}.elementor-4062 .elementor-element.elementor-element-111ce31{font-size:16px;line-height:25px;width:100%;max-width:100%;}.elementor-4062 .elementor-element.elementor-element-111ce31 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-c68040b > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-cc945e3 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-3310447{text-align:center;}.elementor-4062 .elementor-element.elementor-element-3310447 img{width:100%;}.elementor-4062 .elementor-element.elementor-element-dd31ffe{margin-top:15px;margin-bottom:30px;}.elementor-4062 .elementor-element.elementor-element-16cd6fb > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-4f615d4{text-align:center;}.elementor-4062 .elementor-element.elementor-element-4f615d4 img{width:100%;}.elementor-4062 .elementor-element.elementor-element-194c41e .elementor-heading-title{font-size:15px;}.elementor-4062 .elementor-element.elementor-element-34d3124{font-size:16px;line-height:25px;width:100%;max-width:100%;}.elementor-4062 .elementor-element.elementor-element-34d3124 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-ff4041a > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-fb88d58{margin-top:15px;margin-bottom:0px;}.elementor-4062 .elementor-element.elementor-element-8211e86{text-align:left;}.elementor-4062 .elementor-element.elementor-element-8211e86 .elementor-heading-title{font-size:15px;}.elementor-4062 .elementor-element.elementor-element-f2b2345{font-size:16px;line-height:25px;width:100%;max-width:100%;}.elementor-4062 .elementor-element.elementor-element-f2b2345 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-6ef98e8 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-0967371 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-4062 .elementor-element.elementor-element-6798663{text-align:center;}.elementor-4062 .elementor-element.elementor-element-6798663 img{width:100%;}}/* Start custom CSS for heading, class: .elementor-element-ff66eae */.project-title h1{
    background: linear-gradient(269.12deg, #7900FF 37.58%, #FF2377 105.38%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-88f7fb1 */.project-title h1{
    background: linear-gradient(269.12deg, #7900FF 37.58%, #FF2377 105.38%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-15dfee6 */.elementor-4062 .elementor-element.elementor-element-15dfee6{
    --btn-color:linear-gradient(90deg, #7900FF 0%, #E81F6C 100%);
    --arrow-color:#fff;
    --btn-size: 45px;
}
.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button{
    position: relative;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    box-shadow: none;
    padding: 0 calc(var(--btn-size) / 2.5);
}
.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button-content-wrapper{
    height: var(--btn-size);
    align-items: center;
}
.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button-content-wrapper:before{
    content: "";
    display: block;
    position: absolute;
    width: var(--btn-size);
    height: var(--btn-size);
    background: var(--btn-color);
    margin: 0;
    left: 0;
    top: 0;
    border-radius: 15em;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button-text:before{
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background: none;
    top: 50%;
    left: -12px;
    margin-top: -1px;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button-text:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: calc(var(--btn-size) - (var(--btn-size) + 2px));
    margin-top: -5px;
    border-top: 2px solid var(--arrow-color);
    border-right: 2px solid var(--arrow-color);
    transform: rotate(45deg);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button-text{
    font-size: calc(var(--btn-size) / 3);
    padding-left: calc(var(--btn-size) - 10px);;
    position: relative;
    z-index: 1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

/* Hover Animation */

.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button:hover .elementor-button-content-wrapper:before{
    width: 100%;
}
.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button:hover .elementor-button-text{
    color: var(--arrow-color);
}
.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button:hover .elementor-button-text:before{
    background: var(--arrow-color);
    transform: translate(17px, 0);
}
.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button:hover .elementor-button-text:after{
    transform: translate(15px, 0) rotate(45deg);
}
.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button-text,.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button-text:after,.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button-text:before,.elementor-4062 .elementor-element.elementor-element-15dfee6 .elementor-button-content-wrapper:before{
    transition: all 0.5s cubic-bezier(0.65, 0, 0.076, 1) !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-a3564ce */.project-title h1{
    background: linear-gradient(269.12deg, #7900FF 37.58%, #FF2377 105.38%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-f7f7211 */.project-title h1{
    background: linear-gradient(269.12deg, #7900FF 37.58%, #FF2377 105.38%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-a71d832 */.elementor-4062 .elementor-element.elementor-element-a71d832{
    --btn-color:linear-gradient(90deg, #7900FF 0%, #E81F6C 100%);
    --arrow-color:#fff;
    --btn-size: 45px;
}
.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button{
    position: relative;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    box-shadow: none;
    padding: 0 calc(var(--btn-size) / 2.5);
}
.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button-content-wrapper{
    height: var(--btn-size);
    align-items: center;
}
.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button-content-wrapper:before{
    content: "";
    display: block;
    position: absolute;
    width: var(--btn-size);
    height: var(--btn-size);
    background: var(--btn-color);
    margin: 0;
    left: 0;
    top: 0;
    border-radius: 15em;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button-text:before{
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background: none;
    top: 50%;
    left: -12px;
    margin-top: -1px;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button-text:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: calc(var(--btn-size) - (var(--btn-size) + 2px));
    margin-top: -5px;
    border-top: 2px solid var(--arrow-color);
    border-right: 2px solid var(--arrow-color);
    transform: rotate(45deg);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button-text{
    font-size: calc(var(--btn-size) / 3);
    padding-left: calc(var(--btn-size) - 10px);;
    position: relative;
    z-index: 1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

/* Hover Animation */

.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button:hover .elementor-button-content-wrapper:before{
    width: 100%;
}
.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button:hover .elementor-button-text{
    color: var(--arrow-color);
}
.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button:hover .elementor-button-text:before{
    background: var(--arrow-color);
    transform: translate(17px, 0);
}
.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button:hover .elementor-button-text:after{
    transform: translate(15px, 0) rotate(45deg);
}
.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button-text,.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button-text:after,.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button-text:before,.elementor-4062 .elementor-element.elementor-element-a71d832 .elementor-button-content-wrapper:before{
    transition: all 0.5s cubic-bezier(0.65, 0, 0.076, 1) !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-168f8ad */.project-title h1{
    background: linear-gradient(269.12deg, #7900FF 37.58%, #FF2377 105.38%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-8dd8014 */.project-title h1{
    background: linear-gradient(269.12deg, #7900FF 37.58%, #FF2377 105.38%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-c68040b */.elementor-4062 .elementor-element.elementor-element-c68040b{
    --btn-color:linear-gradient(90deg, #7900FF 0%, #E81F6C 100%);
    --arrow-color:#fff;
    --btn-size: 45px;
}
.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button{
    position: relative;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    box-shadow: none;
    padding: 0 calc(var(--btn-size) / 2.5);
}
.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button-content-wrapper{
    height: var(--btn-size);
    align-items: center;
}
.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button-content-wrapper:before{
    content: "";
    display: block;
    position: absolute;
    width: var(--btn-size);
    height: var(--btn-size);
    background: var(--btn-color);
    margin: 0;
    left: 0;
    top: 0;
    border-radius: 15em;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button-text:before{
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background: none;
    top: 50%;
    left: -12px;
    margin-top: -1px;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button-text:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: calc(var(--btn-size) - (var(--btn-size) + 2px));
    margin-top: -5px;
    border-top: 2px solid var(--arrow-color);
    border-right: 2px solid var(--arrow-color);
    transform: rotate(45deg);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button-text{
    font-size: calc(var(--btn-size) / 3);
    padding-left: calc(var(--btn-size) - 10px);;
    position: relative;
    z-index: 1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

/* Hover Animation */

.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button:hover .elementor-button-content-wrapper:before{
    width: 100%;
}
.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button:hover .elementor-button-text{
    color: var(--arrow-color);
}
.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button:hover .elementor-button-text:before{
    background: var(--arrow-color);
    transform: translate(17px, 0);
}
.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button:hover .elementor-button-text:after{
    transform: translate(15px, 0) rotate(45deg);
}
.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button-text,.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button-text:after,.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button-text:before,.elementor-4062 .elementor-element.elementor-element-c68040b .elementor-button-content-wrapper:before{
    transition: all 0.5s cubic-bezier(0.65, 0, 0.076, 1) !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-0a2ec86 */.project-title h1{
    background: linear-gradient(269.12deg, #7900FF 37.58%, #FF2377 105.38%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-194c41e */.project-title h1{
    background: linear-gradient(269.12deg, #7900FF 37.58%, #FF2377 105.38%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-ff4041a */.elementor-4062 .elementor-element.elementor-element-ff4041a{
    --btn-color:linear-gradient(90deg, #7900FF 0%, #E81F6C 100%);
    --arrow-color:#fff;
    --btn-size: 45px;
}
.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button{
    position: relative;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    box-shadow: none;
    padding: 0 calc(var(--btn-size) / 2.5);
}
.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button-content-wrapper{
    height: var(--btn-size);
    align-items: center;
}
.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button-content-wrapper:before{
    content: "";
    display: block;
    position: absolute;
    width: var(--btn-size);
    height: var(--btn-size);
    background: var(--btn-color);
    margin: 0;
    left: 0;
    top: 0;
    border-radius: 15em;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button-text:before{
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background: none;
    top: 50%;
    left: -12px;
    margin-top: -1px;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button-text:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: calc(var(--btn-size) - (var(--btn-size) + 2px));
    margin-top: -5px;
    border-top: 2px solid var(--arrow-color);
    border-right: 2px solid var(--arrow-color);
    transform: rotate(45deg);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button-text{
    font-size: calc(var(--btn-size) / 3);
    padding-left: calc(var(--btn-size) - 10px);;
    position: relative;
    z-index: 1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

/* Hover Animation */

.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button:hover .elementor-button-content-wrapper:before{
    width: 100%;
}
.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button:hover .elementor-button-text{
    color: var(--arrow-color);
}
.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button:hover .elementor-button-text:before{
    background: var(--arrow-color);
    transform: translate(17px, 0);
}
.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button:hover .elementor-button-text:after{
    transform: translate(15px, 0) rotate(45deg);
}
.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button-text,.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button-text:after,.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button-text:before,.elementor-4062 .elementor-element.elementor-element-ff4041a .elementor-button-content-wrapper:before{
    transition: all 0.5s cubic-bezier(0.65, 0, 0.076, 1) !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-5e629a9 */.project-title h1{
    background: linear-gradient(269.12deg, #7900FF 37.58%, #FF2377 105.38%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-8211e86 */.project-title h1{
    background: linear-gradient(269.12deg, #7900FF 37.58%, #FF2377 105.38%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-6ef98e8 */.elementor-4062 .elementor-element.elementor-element-6ef98e8{
    --btn-color:linear-gradient(90deg, #7900FF 0%, #E81F6C 100%);
    --arrow-color:#fff;
    --btn-size: 45px;
}
.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button{
    position: relative;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    box-shadow: none;
    padding: 0 calc(var(--btn-size) / 2.5);
}
.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button-content-wrapper{
    height: var(--btn-size);
    align-items: center;
}
.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button-content-wrapper:before{
    content: "";
    display: block;
    position: absolute;
    width: var(--btn-size);
    height: var(--btn-size);
    background: var(--btn-color);
    margin: 0;
    left: 0;
    top: 0;
    border-radius: 15em;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button-text:before{
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background: none;
    top: 50%;
    left: -12px;
    margin-top: -1px;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button-text:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: calc(var(--btn-size) - (var(--btn-size) + 2px));
    margin-top: -5px;
    border-top: 2px solid var(--arrow-color);
    border-right: 2px solid var(--arrow-color);
    transform: rotate(45deg);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button-text{
    font-size: calc(var(--btn-size) / 3);
    padding-left: calc(var(--btn-size) - 10px);;
    position: relative;
    z-index: 1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

/* Hover Animation */

.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button:hover .elementor-button-content-wrapper:before{
    width: 100%;
}
.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button:hover .elementor-button-text{
    color: var(--arrow-color);
}
.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button:hover .elementor-button-text:before{
    background: var(--arrow-color);
    transform: translate(17px, 0);
}
.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button:hover .elementor-button-text:after{
    transform: translate(15px, 0) rotate(45deg);
}
.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button-text,.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button-text:after,.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button-text:before,.elementor-4062 .elementor-element.elementor-element-6ef98e8 .elementor-button-content-wrapper:before{
    transition: all 0.5s cubic-bezier(0.65, 0, 0.076, 1) !important;
}/* End custom CSS */