.elementor-14 .elementor-element.elementor-element-62adeac4 > .elementor-container{max-width:1300px;min-height:400px;}.elementor-14 .elementor-element.elementor-element-62adeac4:not(.elementor-motion-effects-element-type-background), .elementor-14 .elementor-element.elementor-element-62adeac4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/03/DigitalMarketing-1.webp");background-position:top center;background-repeat:no-repeat;background-size:cover;}.elementor-14 .elementor-element.elementor-element-62adeac4{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:140px 100px 100px 100px;z-index:0;overflow:visible;}.elementor-14 .elementor-element.elementor-element-62adeac4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-14 .elementor-element.elementor-element-7f49dcaa > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-14 .elementor-element.elementor-element-21345563 .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Inter";font-size:55px;font-weight:700;text-transform:capitalize;}.elementor-14 .elementor-element.elementor-element-341d883{color:#D1D5DB;font-family:"Inter";font-size:18px;font-weight:400;}.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button{font-family:"Inter";font-weight:700;fill:var( --e-global-color-primary );color:var( --e-global-color-primary );}.elementor-14 .elementor-element.elementor-element-18e278f3{text-align:right;}.elementor-14 .elementor-element.elementor-element-18e278f3 img{width:85%;}.elementor-14 .elementor-element.elementor-element-7ef25e3e:not(.elementor-motion-effects-element-type-background), .elementor-14 .elementor-element.elementor-element-7ef25e3e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F7F5FA;background-image:url("../../2023/01/Global-Bg.png");background-position:top center;background-repeat:no-repeat;background-size:cover;}.elementor-14 .elementor-element.elementor-element-7ef25e3e{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:40px 0px 40px 0px;overflow:visible;}.elementor-14 .elementor-element.elementor-element-7ef25e3e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-14 .elementor-element.elementor-element-1dbb3699{text-align:center;}.elementor-14 .elementor-element.elementor-element-1dbb3699 .elementor-heading-title{font-family:"Inter";font-size:16px;font-weight:600;text-transform:uppercase;line-height:28px;letter-spacing:0.15em;}.elementor-14 .elementor-element.elementor-element-27042409{text-align:center;}.elementor-14 .elementor-element.elementor-element-27042409 .elementor-heading-title{color:var( --e-global-color-text );font-family:"Inter";font-size:40px;font-weight:700;text-transform:capitalize;line-height:50px;}.elementor-14 .elementor-element.elementor-element-5d401296{text-align:center;color:var( --e-global-color-text );font-family:"Inter";font-size:20px;font-weight:400;}.elementor-14 .elementor-element.elementor-element-2496276d{overflow:visible;}.elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-wraper .elementkit-nav-link.left-pos .elementskit-tab-icon{margin-right:0px;}.elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-wraper .elementkit-nav-link.left-pos .ekit-icon-image{margin-right:0px;}.elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-wraper .elementkit-nav-link{justify-content:center;}.elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-wraper{padding:0px 0px 0px 0px;border-radius:10px 10px 10px 10px;}.elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-nav{padding:7px 7px 7px 7px;margin:0px 0px 0px 0px;border-radius:10px 10px 10px 10px;}.elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-nav .elementkit-nav-item .elementkit-nav-link{font-family:"Inter";font-size:14px;font-weight:500;}.elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-wraper:not(.vertical) .elementkit-nav-item:not(:last-child){margin-right:0px;}.rtl .elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-wraper:not(.vertical) .elementkit-nav-item:not(:last-child){margin-left:0px;margin-right:0;}.elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-wraper.vertical .elementkit-tab-nav{margin-right:0px;}.elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-nav .elementkit-nav-link{padding:15px 0px 16px 0px;color:var( --e-global-color-fb6ac80 );border-style:none;}.elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-nav .elementkit-nav-link.active{color:#000;background-color:var( --e-global-color-primary );}.elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-nav .elementkit-nav-item:first-child a.elementkit-nav-link{border-radius:10px 0px 0px 10px;border-width:0px 0px 0px 0px !important;}.elementor-14 .elementor-element.elementor-element-25f6a01f .elementkit-tab-nav .elementkit-nav-item:last-child a.elementkit-nav-link{border-radius:0px 10px 10px 0px;border-width:0px 0px 0px 0px !important;}.elementor-14 .elementor-element.elementor-element-25f6a01f .tab-content .tab-pane{color:#656565;padding:0px 0px 0px 0px;}.elementor-14 .elementor-element.elementor-element-07706ab{overflow:visible;}.elementor-14 .elementor-element.elementor-element-8039a53 > .elementor-element-populated{padding:0px 0px 0px 0px;}@media(min-width:768px){.elementor-14 .elementor-element.elementor-element-7f49dcaa{width:50%;}.elementor-14 .elementor-element.elementor-element-4458ad76{width:50%;}}@media(max-width:767px){.elementor-14 .elementor-element.elementor-element-62adeac4{padding:100px 15px 0px 15px;}.elementor-14 .elementor-element.elementor-element-21345563 .elementor-heading-title{font-size:25px;line-height:35px;}.elementor-14 .elementor-element.elementor-element-341d883{font-size:16px;}.elementor-14 .elementor-element.elementor-element-4458ad76 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-14 .elementor-element.elementor-element-18e278f3 img{width:100%;}.elementor-14 .elementor-element.elementor-element-7ef25e3e:not(.elementor-motion-effects-element-type-background), .elementor-14 .elementor-element.elementor-element-7ef25e3e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-size:0px auto;}.elementor-14 .elementor-element.elementor-element-7ef25e3e{padding:20px 3px 0px 3px;}.elementor-14 .elementor-element.elementor-element-34ebf989 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-14 .elementor-element.elementor-element-1dbb3699 .elementor-heading-title{font-size:14px;}.elementor-14 .elementor-element.elementor-element-27042409 .elementor-heading-title{font-size:22px;line-height:32px;}.elementor-14 .elementor-element.elementor-element-5d401296{font-size:15px;}}/* Start custom CSS for heading, class: .elementor-element-21345563 */.rp-title span{
background: linear-gradient(90deg, #0CF3F1 30%, #F006FF 50.52%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-63d806e */.elementor-14 .elementor-element.elementor-element-63d806e{
    --btn-color:linear-gradient(90deg, #7900FF 0%, #E81F6C 100%);
    --arrow-color:#fff;
    --btn-size: 45px;
}
.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button{
    position: relative;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    box-shadow: none;
    padding: 0 calc(var(--btn-size) / 2.5);
}
.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button-content-wrapper{
    height: var(--btn-size);
    align-items: center;
}
.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button-content-wrapper:before{
    content: "";
    display: block;
    position: absolute;
    width: var(--btn-size);
    height: var(--btn-size);
    background: var(--btn-color);
    margin: 0;
    left: 0;
    top: 0;
    border-radius: 15em;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button-text:before{
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background: none;
    top: 50%;
    left: -12px;
    margin-top: -1px;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button-text:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: calc(var(--btn-size) - (var(--btn-size) + 2px));
    margin-top: -5px;
    border-top: 2px solid var(--arrow-color);
    border-right: 2px solid var(--arrow-color);
    transform: rotate(45deg);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button-text{
    font-size: calc(var(--btn-size) / 3);
    padding-left: calc(var(--btn-size) - 10px);;
    position: relative;
    z-index: 1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

/* Hover Animation */

.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button:hover .elementor-button-content-wrapper:before{
    width: 100%;
}
.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button:hover .elementor-button-text{
    color: var(--arrow-color);
}
.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button:hover .elementor-button-text:before{
    background: var(--arrow-color);
    transform: translate(17px, 0);
}
.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button:hover .elementor-button-text:after{
    transform: translate(15px, 0) rotate(45deg);
}
.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button-text,.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button-text:after,.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button-text:before,.elementor-14 .elementor-element.elementor-element-63d806e .elementor-button-content-wrapper:before{
    transition: all 0.5s cubic-bezier(0.65, 0, 0.076, 1) !important;
}/* End custom CSS */